.homepage {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #e8f5ff, white);
  min-height: 100vh;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.title-main {
  font-size: 26px;
  font-weight: 500;
  color: #001844;
}

.title-sub {
  font-size: 20px;
  font-weight: 350;
  color: #555e6c;
  margin-top: -4px;
}

.logo {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 24px;
}

.nav-links a {
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #555e6c;
  font-weight: 350;
}

.main-title {
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
  font-weight: 500;
  color: #001833;
}

.selectors {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.dropdown {
  padding: 10px;
  font-size: 20px;
  font-weight: 350;
  color:#555e6c;
  border-radius: 10px;
  border: 1px solid #5891ed;
  width: 325px;
}

.search-bars {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.search-box {
  padding: 10px;
  font-size: 20px;
  font-weight: 350;
  color:#555e6c;
  border-radius: 10px;
  border: 1px solid #5891ed;
  width: 305px;
}

.main-plot {
  width: 50%;
  margin-top: 3rem;
}

.bottom-graphs {
  display: flex;
  margin-top: 3rem;
  padding: 1rem;
}